<!DOCTYPE html>
<head>
    <title>Teste Kelvyyyyyn!!</title>
    </head>
    <body>
        <!-- testando comentario -->
        <h1>KELVYYYYN!</h1>
        <h2>KELVYYYYN!!</h2>
        <h3>KELVYYYYN!!!</h3>
        <h4>KELVYYYYN!!!!</h4>
        <h5>KELVYYYYN!!!!!</h5>
        <h6>KELVYYYYN!!!!!!</h6>

        ue isso funciona sem determinar <br>oque <br> é oque??

        <p>Este é o teste do site!!</p><hr>
        <p>Os primeiros tubarões surgiram há mais de 400 milhões de anos.<br>
            As primeiras árvores apareceram milhões de anos depois.<br>
            Isso significa que os tubarões já existiam antes das primeiras florestas!<br>
            Eles sobreviveram a várias extinções em massa ao longo da história.<br>
            E algumas espécies atuais ainda possuem características muito parecidas com seus ancestrais.</p>
    </body>
    </html>