<!DOCTYPE html>
<head>
    <title>Atividade 3</title>
</head>

<body style="background-color: rgb(66, 0, 57);">

    <!-- testando comentario -->
    <h1 style="color: #db78ce;"
    title="KELVYYYYYYYYN!"> (Coloque o mouse aqui)</h1>

    <p style="color: #ff8bef;">
        Fórmula da água: 
        H<sub>2</sub>O
        <br>
        Fórmula da água oxigenada: 
        H<sub>2</sub>O<sub>2</sub>
        <br>
        Dióxido de carbono: 
        CO<sub>2</sub>
        <br>
        Fórmula de Pitágoras: 
        B<sup>2</sup> + B<sup>2</sup> = C<sup>2</sup>
    </p>

    <!-- Teste HTML -->

    <h1 style="color: #db78ce;">Atividade 3</h1>

    <p style="color: #ff8bef;">
        <b>Lorem ipsum dolor sit amet</b>, consectetur adipiscing elit.<br>
        <strong>Praesentium doloremque</strong>, suscipit atque facilis.<br>
        Necessitatibus <i>repellendus voluptatum</i>.<br>
        <u>Lorem ipsum dolor sit amet</u>, consectetur adipiscing elit.<br>
        <mark>Ut enim ad minim veniam</mark>, quis nostrud exercitation ullamco.<br>
        <em>Vestibulum ante ipsum primis in faucibus</em> orci luctus et ultrices.<br>
        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small><br>
        <del>Lorem ipsum dolor sit amet</del>, consectetur adipiscing elit.<br>
        Lorem ipsum H<sub>2</sub>O dolor sit amet.<br>
        Lorem ipsum 10<sup>2</sup> dolor sit amet.<br>
        <b>Curabitur vitae neque</b> at ipsum tincidunt consequat.
    </p>

    <hr>

    <p style="color: #ff8bef;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
        Sed do eiusmod tempor <i>incididunt ut labore</i> et dolore magna aliqua.<br>
        <strong>Ut enim ad minim veniam</strong>, quis nostrud exercitation ullamco laboris.<br>
        Duis aute irure dolor in <u>reprehenderit</u> in voluptate velit esse cillum.<br>
        <mark>Excepteur sint occaecat cupidatat non proident</mark>, sunt in culpa.
    </p>
</body>
</html>

